body {
    
    background-color:#ededed;
    overflow: auto;
    color: #352c3e;
    font-size: 14px;
    text-align: left;
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    line-height: 1.5;
  }

.project-container-1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.project-image-1 {
  flex: 1;
  margin-right: 30px;
}

.project-details-1 {
  flex: 2;
}

.small-image-1 {
  max-width: 500px;
  max-height: 500px;
}

.project-container-2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  
}
.project-image-2 {
  flex: 1;
  margin-right: 30px;
}

.project-details-2 {
  flex: 2;
}

.small-image-2 {
  max-width: 500px;
  max-height: 500px;
}

.project-container-3 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.project-image-3 {
  flex: 1;
  margin-right: 30px;
}

.project-details-3 {
  flex: 2;
}

.small-image-3 {
  max-width: 500px;
  max-height: 500px;
}

.project-container-4 {
  display: flex;
  flex-wrap: wrap;
}
.project-image-4 {
  flex: 1;
  margin-right: 30px;
}

.project-details-4 {
  flex: 2;
}

.small-image-4 {
  max-width: 500px;
  max-height: 500px;
}

.cv-container-1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.cv-image-1 {
  flex: 1;
  margin-right: 3px;
}

.cv-info {
  flex: 3;
  white-space: pre-wrap;
  /* Để không gộp khoảng trắng */
}

.cv-container-2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.year-education {
  flex: 1;
  margin-right: 3px;
}

.info-education {
  flex: 3;
}


.cv-container-3 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.year-career-1 {
  flex: 1;
  margin-right: 3px;
}

.info-career-1 {
  flex: 3;
}

.cv-container-4 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.year-career-2 {
  flex: 1;
  margin-right: 3px;
}

.info-career-2 {
  flex: 3;
}

.mwgpowerbi-image-1 {
  max-width: 1910px;
  max-height: 889px;
  margin-top: 20px;
}


.solid-line {
  border-top: 2px solid black;
  /* Kẻ dòng */
}


